<button mat-raised-button routerLink="/databases">Databases</button>
<button mat-raised-button routerLink="/sql">SQL</button>
<button mat-raised-button routerLink="/status">Status</button>
<button mat-raised-button routerLink="/users">Users</button>
<button mat-raised-button routerLink="/export">Export</button>
<button mat-raised-button routerLink="/import">Import</button>
<button mat-raised-button routerLink="/settings">Settings</button>
<button mat-raised-button routerLink="/replication">Replication</button>
<button mat-raised-button routerLink="/variables">Variables</button>
<button mat-raised-button routerlink="/charsets">Charsets </button>
<button mat-raised-button routerLink="/engines">Engines</button>
<button mat-raised-button routerLink="/plugins">Plugins</button>